*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(93, 207, 182, 0.3),rgba(0,0,0,0.7),rgba(245, 216, 166, 0.5)),url(./../Images/pexels-photo-6801652.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
    padding: 10px;
    font-size: 45px;
    border-radius: 10px;
}
h2{
    background-color:rgba(0, 0, 0,0.6);
    color: #fff;
    padding: 25px;
    margin-bottom:8%;
    font-size: 20px;
    border-radius: 15px;

}
.container-2{
    width: 50vw;
    height: 50vh;
    background-color: rgba(150, 221, 220, 0.4);
    padding: 20px;
    border-radius: 20px;
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-2 input{
    padding: 15px;
    font-size:20px;
    border-radius: 10px;
    margin-bottom:10%;
    outline: none;
    border: 1px solid black;
}
.result{
    color: #3620f6;
    font-size: 20px;
    font-weight:bold;
    padding: 10px;
}